In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
# create data frame
df = pd.read_csv('stock_data.csv')

In [3]:
print(df.head(10))#print a few lines

         date   open   high     low  close    volume Name   7_day_ma  \
0  2013-02-08  45.07  45.35  45.000  45.08   1824755    A        NaN
1  2013-02-11  45.17  45.18  44.450  44.60   2915405    A        NaN
2  2013-02-12  44.81  44.95  44.500  44.62   2373731    A        NaN
3  2013-02-13  44.81  45.24  44.680  44.75   2052338    A        NaN
4  2013-02-14  44.72  44.78  44.360  44.58   3826245    A        NaN
5  2013-02-15  43.48  44.24  42.210  42.25  14657315    A        NaN
6  2013-02-19  42.21  43.12  42.210  43.01   4116141    A  44.127143
7  2013-02-20  42.84  42.85  42.225  42.24   3873183    A  43.721429
8  2013-02-21  42.14  42.14  41.470  41.63   3415149    A  43.297143
9  2013-02-22  41.83  42.07  41.580  41.80   3354862    A  42.894286

   15_day_ma  30_day_ma  daily_returns  daily_volatility  target
0        NaN        NaN            NaN               NaN       0
1        NaN        NaN      -0.010648               NaN       0
2        NaN        NaN       0.000448               NaN       1
3        NaN        NaN       0.002913               NaN       1
4        NaN        NaN      -0.003799               NaN       0
5        NaN        NaN      -0.052266               NaN       0
6        NaN        NaN       0.017988               NaN       1
7        NaN        NaN      -0.017903               NaN       0
8        NaN        NaN      -0.014441               NaN       0
9        NaN        NaN       0.004084               NaN       1

In [4]:
# transform date to datetime, get year,month,day from date column
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

print(df.head(10))

        date   open   high     low  close    volume Name   7_day_ma  \
0 2013-02-08  45.07  45.35  45.000  45.08   1824755    A        NaN
1 2013-02-11  45.17  45.18  44.450  44.60   2915405    A        NaN
2 2013-02-12  44.81  44.95  44.500  44.62   2373731    A        NaN
3 2013-02-13  44.81  45.24  44.680  44.75   2052338    A        NaN
4 2013-02-14  44.72  44.78  44.360  44.58   3826245    A        NaN
5 2013-02-15  43.48  44.24  42.210  42.25  14657315    A        NaN
6 2013-02-19  42.21  43.12  42.210  43.01   4116141    A  44.127143
7 2013-02-20  42.84  42.85  42.225  42.24   3873183    A  43.721429
8 2013-02-21  42.14  42.14  41.470  41.63   3415149    A  43.297143
9 2013-02-22  41.83  42.07  41.580  41.80   3354862    A  42.894286

   15_day_ma  30_day_ma  daily_returns  daily_volatility  target  year  month  \
0        NaN        NaN            NaN               NaN       0  2013      2
1        NaN        NaN      -0.010648               NaN       0  2013      2
2        NaN        NaN       0.000448               NaN       1  2013      2
3        NaN        NaN       0.002913               NaN       1  2013      2
4        NaN        NaN      -0.003799               NaN       0  2013      2
5        NaN        NaN      -0.052266               NaN       0  2013      2
6        NaN        NaN       0.017988               NaN       1  2013      2
7        NaN        NaN      -0.017903               NaN       0  2013      2
8        NaN        NaN      -0.014441               NaN       0  2013      2
9        NaN        NaN       0.004084               NaN       1  2013      2

   day
0    8
1   11
2   12
3   13
4   14
5   15
6   19
7   20
8   21
9   22

In [ ]:
#create features column
feature_columns = [col for col in data.columns if col not in ['date', 'target']]
X = data[feature_columns]
y = data['target']